html {
    background: linear-gradient( rgba(0, 0, 0, 0.541),
    rgba(13, 12, 12, 0.527)),
    url("../img/home2.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-origin: border-box; 
    background-attachment: fixed;
}

main{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

img{
    display: inline-block;
    width: 100%;
    height: auto;
    border: 5px solid #ebe9e4;
    border-radius: 50px;
}
  
.card_link{
    width: 20vw;
    min-width: 200px;
    padding-bottom: 2rem;
}

.container img:hover{
    border-color: #ffc600;
}
