html {
    background: linear-gradient( rgba(0, 0, 0, 0.541),
    rgba(13, 12, 12, 0.527)),
    url("../img/home2.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-origin: border-box; 
    background-attachment: fixed;
}
  
